@page "/products"
@inject IService<Product> productService
 
<PageTitle>Produits</PageTitle>

<h1>Liste des produits</h1>

@if (products == null)
{
    <p><em>Chargement...</em></p>
}
else if (!products.Any())
{
    <p><em>Aucun produit trouvé.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Marque</th>
                <th>Type de Produit</th>
@*                 <th>Photo</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in products)
            {
                <tr>
                    <td>@produit.NameProduct</td>
                    <td>@produit.Description</td>
                    <td>@produit.IdBrand</td>
                    <td>@produit.IdTypeProduct</td>
                   @*  <td>
                        <img src="@produit.UriPhoto" alt="@produit.NomProduit" width="100" />
                    </td> *@
                    <td>
                        <a class="btn btn-sm btn-warning" href="/edit-produit/@produit.IdProduct">Modifier</a>
                        @* <button class="btn btn-sm btn-danger" @onclick="() => DeleteProduit(produit.IdProduit)">Supprimer</button> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetAllAsync();
    }
}
