@model IEnumerable<R5A08_TP1.Models.EntityFramework.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UriPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedTypeProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedBrand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamePhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UriPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedTypeProduct.IdTypeProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedBrand.IdBrand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduct">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduct">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduct">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
